html {
	background-color: #092b4b;
}

.container-body{
/*    max-width: 940px;  */
    margin: auto;
    background-color: #092b4b;
    width: 100%;
    font-family: Microsoft JhengHei, Arial, sans-serif;
    padding-top: 80px;
}

.hr-style{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #9e9c9c, #e2e0e0, #9e9c9c);
}

.menu-container{
    display: block;
    box-sizing: border-box;
    background-color: #092b4b;
    border-top: 3px solid #454141;
    height: 80px;
    padding-left:5%;
    padding-right:5%;
}

.menu-logo{
	margin-right: 5%;
	margin-left: 5%;
    width: 20%;
    float: left;
    color: #dcd5d5;
}

.menu-logo a{
    text-decoration: none;
    color: #dcd5d5;
}

.menu-logo a:hover{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.menu-logo h1{
	margin: 0px;
	margin-top: 11px;
	text-align: center;
	font-weight: normal;
}

.nav-menu{
    margin-top: 10px;
    font-size: 130%;
    float: left;
}

.nav-menu ul{
    margin: 0; 
    padding: 0;
}

.nav-menu li{
    list-style: none; 
    float: left;
    margin-right: 5px;
}

.nav-menu li p{
	margin-top: 13px;
	font-size: 110%;
    color: #d6d1d1;
}

.nav-menu a{
    display: block;
    padding: 10px 20px;
    margin-top: 5px;
    color: #d6d1d1;
    text-decoration: none;
}

.nav-menu a:hover{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav-contact {
    margin-top: 27px;
    margin-right: 5%;
	margin-left: 7%;
    float: right;
}

.nav-contact ul{
    margin: 0; 
    padding: 0;
}

.nav-contact li{
    list-style: none; 
    float: left;
    margin-right: 5px;
}

.nav-contact img{
	width: 27px;
	margin-right: 10px;
}

.index-body{
    position: relative;
}

.index-body img{
    width: 100%;
    display: block;
}

.index-image-dessert a{
    text-decoration: none;
    color: #dcd5d5;
}

.dessert-description{
    /*position*/
    position: absolute;
    top:7%;
    left: 0%;
    /*format style*/
    margin: 0px;
	line-height: 50px;
	width: 100%;
	text-align: center;
	font-weight: normal;
	font-size: 165%;
	color: #dcd5d5;
	background-color: #656060a6;
}

.dessert-botton{
    /*format style*/
	margin: 0px;
	padding: 0px 5px;
}

.dessert-botton a{
	/*position*/
    position: absolute;
    top:13%;
    left: 9%;
    /*format style*/
	margin: 0px;
	line-height: 50px;
	width: 150px;
	text-align: center;
	font-weight: normal;
	font-size: 55%;
	color: #dcd5d5;
	background-color: 8080806e;
	border: 1.5px solid #dcd5d5;
	padding: 0px 5px;

}

.dessert-botton a:hover{
	display: block;
    background-color: #dcd5d5;
    color: #333232;
    text-decoration: none;
    font-size: 55%;
}

.index-image-restaurant a{
    text-decoration: none;
    color: #626060;
}

.restaurant-description{
    /*position*/
    position: absolute;
    top:41%;
    left: 0%;
    /*format style*/
    margin: 0px;
	line-height: 50px;
	width: 100%;
	text-align: center;
	font-weight: normal;
	font-size: 165%;
	color: #dcd5d5;
	background-color: #656060a6;
}

.restaurant-botton{
    /*format style*/
	margin: 0px;
	padding: 0px 5px;
}

.restaurant-botton a{
	/*position*/
    position: absolute;
    top:47%;
    left: 13%;
    /*format style*/
	margin: 0px;
	line-height: 50px;
	width: 150px;
	text-align: center;
	font-weight: normal;
	font-size: 55%;
	color: #817b7be0;
	background-color: 8080806e;
	border: 1.5px solid #817b7be0;
	padding: 0px 5px;
}

.restaurant-botton a:hover{
	display: block;
    background-color: #817b7be0;
    color: #f1f1f1e8;
    text-decoration: none;
    font-size: 55%;
}

.index-image-photo a{
    text-decoration: none;
    color: #dcd5d5;
}

.photo-description{
    /*position*/
    position: absolute;
    top:75%;
    left: 0%;
    /*format style*/
    margin: 0px;
	line-height: 50px;
	width: 100%;
	text-align: center;
	font-weight: normal;
	font-size: 165%;
	color: #dcd5d5;
	background-color: #656060a6;
}

.photo-botton{
    /*format style*/
	margin: 0px;
	padding: 0px 5px;
}

.photo-botton a{
	/*position*/
    position: absolute;
    top:79%;
    left: 71%;
    /*format style*/
	margin: 0px;
	line-height: 50px;
	width: 150px;
	text-align: center;
	font-weight: normal;
	font-size: 55%;
	color: #dcd5d5;
	background-color: 8080806e;
	border: 1.5px solid #dcd5d5;
	padding: 0px 5px;
}

.photo-botton a:hover{
	display: block;
    background-color: #dcd5d5;
    color: #333232;
    text-decoration: none;
}

/*Article Style*/
.main-area {
    width: 80%;
    margin: auto;
	box-sizing: border-box;
    margin-bottom: 30px;
}

#gallery{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -30px;
    float: left;
}

#gallery li{
    float: left;
    margin-top: 30px;
    padding-left: 50px;
    /*圖片寬度切成三等份*/
    width :calc(100%/3);
    box-sizing: border-box;
    height: 0;
    padding-bottom: 25%;
}

#gallery a{
    text-decoration: none;
}

.wrapper{
    display: block;
    position: relative;
    
}

.wrapper img{
    width: 100%;
    display: block;
}

.wrapper img:hover{
	border: 2px solid #e4e4e4de;
}

.dessert-title{
    color: #dcd5d5;
}

.dessert-name{
    color: #dcd5d5;
    text-align: center;
    font-size: 130%;
    margin-top: 3%;
}

.dessert-body{
    max-width: 940px;
    margin: auto;
}

.dessert-body a{
    text-decoration: none;
    color: #d6d1d1;
}

.dessert-body p{
    margin-top: 10px;
    color: #d6d1d1;
}

.dessert-body a:hover{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.dessert-container{
    background: #d6d1d1;
    padding-top: 2%;
    padding-left: 1%;    
}

.dessert-container p{
    color: black;
}

.dessert-theme img{
    margin: 0px auto;
    width: 50%;
    border-radius: 3%;
    float: left;
}

.dessert-food{
    float: right;
    width: 50%;
    text-align: center;
}

.food-title{
    margin:auto 20%;
    border-bottom: 1.5px solid #ada6a6;
}

.dessert-pic p{
	margin-left: -4%;
	margin-bottom: 2%;
	margin-top: -1%;
    font-size:150%;
    color: #494343;
    font-weight: bold;
}

.dessert-pic{
    float: left;
    width: 40%; 
    margin-left: 3%;
}

.dessert-pic img{
    margin: 0px auto;
    width: 100%;
    border-radius: 7%;
}

.dessert-step{
    float: right;
    width:50%; 
    margin-top: 7%;
}

.dessert-step p{
    line-height: 2.5;
    color:#4e4e4e;
    font-weight: 500;
}

.footer{
    width: 100%;
    display: block;
    background-color: #092b4b;
    line-height: 100px;
    text-align: center;
    font-weight: normal;
    margin-top: 10px;
    color: #dcd5d5;
}

.clear:after {
	content:"";
	display: block;
	clear: both;
}